<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>题库管理系统</title>

    <script src="/layui/layui.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/paper/paper.js"></script>


    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <link rel="stylesheet" href="/css/paper/paper.css"/>
</head>
<body >
<!--    顶部菜单-->
<div class="top-menu layui-header header header-doc">
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="">1</a></li>
        <li class="layui-nav-item layui-this"><a href="">主页</a></li>
        <li class="layui-nav-item"><a href="">2</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">3</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">1</a></dd>
                <dd><a href="">2</a></dd>
                <dd><a href="">3</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">4</a></li>
    </ul>
</div>

<!--页面主体部分-->
<div class="layui-row" style="padding-top: 60px">
    <div class="layui-col-md3">a</div>
    <div class="layui-col-md6" id="infoPanelBody">
        <div class="info_panel">

        </div>
        <div class="subject_panel">
            <div id="paper_name" class="paper_name">这是试卷标题</div>
            <hr>
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">题表</h2>
                    <div id="subject_nav" class="layui-colla-content layui-show layui-btn-container"></div>
                </div>
            </div>
            <div id="test">
                <div class="head" style="margin-top: 30px">
                    <span id="subject_type" class="layui-badge layui-bg-black paper_type_badge">单项选择题</span>
                    <div id="subject_name"  class="paper_name">题目描述</div>
                    <div style="float: right">
                        <span id="subject_difficulty" class="layui-badge layui-bg-green paper_type_badge">简单</span>
                    </div>
                </div>
                <hr>
                <div id="subject_dec">
                    这是题目主体
                </div>
                <hr>
                <div>
                    <span class="layui-badge layui-bg-green">答案</span>
                    <div id="subject_answer">
                        这里是答案
                    </div>
                </div>
                <div class="subject_footer">
                    <div class="layui-btn-container">
                        <button type="button" class="layui-btn" id="next_subject">下一题</button>
                        <button type="button" class="layui-btn" id="reload_paper">重新生成试卷</button>
                        <button type="button" class="layui-btn" id="submit_paper">确认并生成</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    //初次加载页面修改数据
    getTempPaper();

</script>
</body>
</html>