<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>冷猫猫与喵喵</title>

    <script src="layui/layui.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/paper/paper.js"></script>

    <link rel="stylesheet" href="layui/css/layui.css"/>
</head>
<body >
<!--    顶部菜单-->
<div class="top-menu layui-header header header-doc">
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="">最新活动</a></li>
        <li class="layui-nav-item layui-this"><a href="">产品</a></li>
        <li class="layui-nav-item"><a href="">大数据</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">移动模块</a></dd>
                <dd><a href="">后台模版</a></dd>
                <dd><a href="">电商平台</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">社区</a></li>
    </ul>
</div>
<!--    左边的菜单-->
<div class="left-menu" >
    <ul class="layui-nav layui-nav-tree layui-nav-side" lay-filter="test" style="padding-top: 60px">
        <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
        <li class="layui-nav-item">
            <a href="javascript:;">试卷管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">新建试卷</a></dd>
                <dd><a href="javascript:;">我的试卷</a></dd>
                <dd><a href="javascript:;">试卷库</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">题库</a>
            <dl class="layui-nav-child">
                <dd><a href="">我的试题</a></dd>
                <dd><a href="">新建试题</a></dd>
                <dd><a href="">公共题库</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">没想好</a></li>
        <li class="layui-nav-item"><a href="">真没想好</a></li>
    </ul>
</div>
<!--页面主体部分-->
<div class="layui-row" style="padding-top: 60px">
    <div class="layui-col-md3">a</div>
    <div class="layui-col-md6" >
        <fieldset class="layui-elem-field">
            <legend>字段集区块 - 默认风格</legend>
        <form class="layui-form layui-field-box" action="">
            <div class="layui-form-item">
                <label required class="layui-form-label">题目类型</label>
                <div class="layui-input-block">
                    <select name="city" lay-verify="required">
                        <option value=""></option>
                        <option value="0">单项选择题</option>
                        <option value="1">多项选择题</option>
                        <option value="2">填空题</option>
                        <option value="3">判断题</option>
                        <option value="4">简答题</option>
                        <option value="5">综合题</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" lay-text="公开|私有">是否公开</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="switch" lay-skin="switch">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">难度选择</label>
                <div class="layui-input-block">
                    <input type="radio" name="DIFFICULTY" value="HARD" title="困难">
                    <input type="radio" name="DIFFICULTY" value="MEDIUM" title="普通" checked>
                    <input type="radio" name="DIFFICULTY" value="EASY" title="简单" >
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">题目描述</label>
                <div class="layui-input-block">
                    <textarea required name="desc" placeholder="请输入题目描述" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">答案</label>
                <div class="layui-input-block">
                    <textarea required name="desc" placeholder="请输入内容(如果是选择题,请使用空格将选项隔开)" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="subject_submit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
        </fieldset>
    </div>

    <script>
        //Demo
        layui.use('form', function(){
            var form = layui.form;

            //监听提交
            form.on('submit(subject_submit)', function(form_data){
                $.ajax({
                    type: "POST",
                    url:"/subject/add_subject",
                    data:(JSON.stringify(form_data.field)),

                })
                layer.msg(JSON.stringify(form_data.field));
                return false;
            });

            //监听下拉框

        });
    </script>
</div>


</body>
</html>