<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>添加试题</title>

    <script src="/layui/layui.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/paper/paper.js"></script>

    <link rel="stylesheet" href="/layui/css/layui.css"/>
</head>
<body >
<!--    顶部菜单-->
<div class="top-menu layui-header header header-doc">
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="">最新活动</a></li>
        <li class="layui-nav-item layui-this"><a href="">产品</a></li>
        <li class="layui-nav-item"><a href="">大数据</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">移动模块</a></dd>
                <dd><a href="">后台模版</a></dd>
                <dd><a href="">电商平台</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">社区</a></li>
    </ul>
</div>
<!--    左边的菜单-->
<div class="left-menu" >
    <ul class="layui-nav layui-nav-tree layui-nav-side" lay-filter="test" style="padding-top: 60px">
        <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
        <li class="layui-nav-item">
            <a href="javascript:;">试卷管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" onclick="addPaper()">新建试卷</a></dd>
                <dd><a href="javascript:;">我的试卷</a></dd>
                <dd><a href="javascript:;">试卷库</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">题库</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:" onclick="mySubject()">我的试题</a></dd>
                <dd><a href="javascript:" onclick="addSubject()">新建试题</a></dd>
                <dd><a href="javascript:" onclick="publicSubjects()">公共题库</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">没想好</a></li>
        <li class="layui-nav-item"><a href="">真没想好</a></li>
    </ul>
</div>
<!--页面主体部分-->
<div class="layui-row" style="padding-top: 60px">
    <div class="layui-col-md3">a</div>
    <div class="layui-col-md6" id="infoPanelBody">

    </div>

    <script>
        //调用jQuery.load()方法添加添加试卷的html
        function addPaper() {
            $("#infoPanelBody").empty();
            $("#infoPanelBody").load("/papers/addPaper/",function () {
                layui.use('form',function () {
                    const form = layui.form;
                    form.render();
                })
            })
        }
        //调用jQuery.load()方法添加添加试题模块的html
        function addSubject() {
            $("#infoPanelBody").empty();
            $("#infoPanelBody").load("/subjects/addSubjects/",function () {
                layui.use('form', function(){
                    const form = layui.form;
                    form.render();
                });
            });
        }
        //调用jQuery.load()方法添加题目模块的html
        function publicSubjects() {
            $("#infoPanelBody").empty();
            $("#infoPanelBody").load("/subjects/subjectList/",function () {
                layui.use('form', function(){
                    const form = layui.form;
                    form.render();
                });
            });
        }
        //调用jQuery.load()方法添加我的试题模块的html
        function mySubject() {
            $("#infoPanelBody").empty();
            $("#infoPanelBody").load("/subjects/mySubject/",function () {
                layui.use('form', function(){
                    const form = layui.form;
                    form.render();
                });
            });
        }
    </script>
</div>


</body>
</html>