<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <script src="/layui/layui.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/paper/paper.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
</head>
<body>
<table id="test" class="layui-table" lay-size="lg" lay-skin="nob" lay-even>
</table>

<script>
    layui.use('table',function () {
        const table = layui.table;
        table.render({
            elem: '#test',
            // url: 'subject/find_all_subject',
            // parseData: function(res){
            //     console.log(res);
            //
            //     for (let item in res){
            //         data1.push({"subjectId":res[item].subjectId,"subjectName":res[item].subjectName,"subjectCourse":res[item].subjectCourse.courseId})
            //     }
            //     console.log(data);
            // },
            data: [{"subjectId":1,"subjectName":"wdnmd","subjectCourse":1}],
            cols:[
                [
                    {field: 'subjectId', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'subjectName', title: '题名', width:80}
                    ,{field: 'subjectCourse', title: '科目名', width:80, sort: true}
                    // ,{field: 'city', title: '城市', width:80}
                    // ,{field: 'sign', title: '签名', width: 177}
                    // ,{field: 'experience', title: '积分', width: 80, sort: true}
                    // ,{field: 'score', title: '评分', width: 80, sort: true}
                    // ,{field: 'classify', title: '职业', width: 80}
                    // ,{field: 'wealth', title: '财富', width: 135, sort: true}
                ]
            ]
        });
    })
</script>
</body>
</html>